[Desktop Entry]
Encoding=UTF-8
Name=Graphics Tablet
Comment=Set your graphics tablet preferences
Exec=tabletconfig
Icon=tabletconfig
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Settings;HardwareSettings;
OnlyShowIn=GNOME;
