#!/usr/bin/make -f
# -*- makefile -*-

include package_defines.mk

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

override_dh_auto_build:
	pod2man --section=6 --release=${VERSION} --center "" debian/tablet-config.pod > tablet-config.6
	pod2man --section=6 --release=${VERSION} --center "" debian/tablet-pressure-applet.pod > tablet-pressure-applet.6

%:
	dh $@

