#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

build/tablet-apps::
	pod2man --section=6 --release=$(VERSION) --center "" debian/tablet-apps.pod > tablet-apps.6

cleanbuilddir/tablet-apps::
	rm -f tablet-apps.6

DEB_INSTALL_MANPAGES_tablet-apps = tablet-apps.6
