[Desktop Entry]
Encoding=UTF-8
Name=Graphics Tablet
Comment=Set your graphics tablet preferences
Exec=tablet-config
Icon=input-tablet
Terminal=false
StartupNotify=true
Type=Application
Categories=GTK;Settings;HardwareSettings;
